/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .mega-menu-wrap {
        width: calc(341% + 6px);
    }
    .zak-column {
        max-width: 350px;
        flex: 0 0 300px;
    }
    .product-table-wrapper.senam-table-wrapper {
        overflow-x: scroll;
    }
    .table.product-table.senam-table {
        min-width: 995px;
    }
    .footer-pagination li:nth-child(6),
    .footer-pagination li:nth-child(5) {
        display: none;
    }
    .box-btn.style-3 {
        padding: 10px 14px;
    }
    .cart-ul li:not(:first-child) {
        margin-left: 20px;
    }
    .cart-ul li:not(:first-child)::before {
        left: -10px;
    }
    .product-details-wrap.mb-50 {
        margin-bottom: 0;
    }



    
    .tab-link-box {
        font-size: 16px;
        color: #D9261C;
        font-weight: 700;
        position: relative;
        margin-bottom: 15px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background: #fff;
        margin-bottom: 16px;
        padding: 0 15px;
    }
    .all-tb-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* left: 0; */
        right: 0;
        display: none;
        z-index: 5;
        border-top: 1px solid #D9261C;
        box-shadow: 0 0 5px #ddd;
    }
  .all-tb-links .nav-link-wrap {
    display: block;
    padding: 15px;
    margin: 0;
  }
  .all-tb-links .nav-link-wrap a {
    display: block;
    width: 100%;
  }
  .all-tb-links .nav-link-wrap a::after {
    content: none !important;
  }
  .all-tb-links .nav-link-wrap a {
    padding: 5px 0;
  }











}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {
    .toggle-bar {
        display:inline-block;
    }
    .ft-contact-wrap {
        flex-wrap: wrap;
    }
    .ft-contact-wrap li {
        width: 50%;
        margin-bottom: 15px;
        padding-right: 15px;
    }
    .ft-contact-area {
        padding-bottom: 13px;
    }


    .cart-ul li:first-child {
        display: none;
      }
      .cart-ul {
        background: transparent;
        border: 0;
      }
      .header-bottom-area {
        background: #fff;
        padding-bottom: 20px;
    }
    .cart-ul li a span {
        display: none;
    }
    .shopping-cart a::after {
        content: "20";
        position: absolute;
        top: -11px;
        right: -6px;
        color: #000;
        font-size: 10px;
        font-weight: 700;
    }
    .cart-ul li:not(:first-child)::before {
        height: 45px;
    }
    .single-service {
        margin-bottom: 35px;
    }
    .service-wrap {
        padding: 45px;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }
    .banner-slider-pagination {
        display: none;
    }
    .banner-slider {
        width: 100%;
    }
    
    .slick-dots {
        text-align: center;
        margin-top: 10px;
    }
    .slick-dots li {
        display: inline-block;
    }
    .slick-dots li button {
        width: 23px;
        height: 4px;
        background: #fff;
        font-size: 0px;
        padding: 0;
        border: 0;
        border-radius: 5px;
        margin: 0 5px;
        tranis: ;
        transition: .3s;
    }
    .slick-dots li.slick-active button {
        background: #B6160D;
    }
    .banner-slider-wrap {
        margin-bottom: 70px;
    }
    
    .header-logo-part {
        justify-content: center;
    }
    .logo {
        margin-right: 0;
    }
    .linear-bar {
        height: 8px;
    }
    .mega-menu-wrap {
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 1;
        visibility: visible;
        transition: .4s;
        z-index: 5;
        top: 98%;
    }
    .mega-menu-wrap {
        border: 0;
    }

    #mobile-search-box {
        position: absolute;
        right: 0;
        width: 100%;
        height: 48px;
        background: #fff;
        z-index: 1000000000;
        border: 0;
        top: 0;
        display: none;
      }
      #mobile-search-box input {
        border: 0;
        height: 49px;
      }
      .zak-column {
        max-width: 350px;
        flex: 0 0 220px;
    }
    .product-table-wrapper.senam-table-wrapper {
        overflow-x: scroll;
    }
    .table.product-table.senam-table {
        min-width: 991px;
    }
  
    .tab-link-box {
        font-size: 16px;
        color: #D9261C;
        font-weight: 700;
        position: relative;
        margin-bottom: 15px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background: #fff;
        margin-bottom: 16px;
        padding: 0 15px;
    }
    .all-tb-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* left: 0; */
        right: 0;
        display: none;
        z-index: 5;
        border-top: 1px solid #D9261C;
        box-shadow: 0 0 5px #ddd;
    }
  .all-tb-links .nav-link-wrap {
    display: block;
    padding: 15px;
    margin: 0;
  }
  .all-tb-links .nav-link-wrap a {
    display: block;
    width: 100%;
  }
  .all-tb-links .nav-link-wrap a::after {
    content: none !important;
  }
  .all-tb-links .nav-link-wrap a {
    padding: 5px 0;
  }
  .product-details-wrap.mb-50 {
	margin-bottom: 0;
}





}

 
/* small mobile :320px. */
@media (min-width: 320px) and (max-width: 767.98px) {
    .toggle-bar {
        display:inline-block;
    }
    .ft-contact-wrap {
        display: block;
    }
    .ft-contact-wrap li {
        width: 100%;
        margin-bottom: 15px;
        padding-right: 0;
    }
    .ft-contact-area {
        padding-bottom: 13px;
    }
    .copyright-text {
        flex-direction: column-reverse;
    }
    .footer-widget-area {
        padding: 40px 0;
        padding-bottom: 10px;
    }
    .cart-ul li:first-child {
        display: none;
      }
      .cart-ul {
        background: transparent;
        border: 0;
      }
      .header-bottom-area {
        background: #fff;
        padding-bottom: 20px;
    }
    .cart-ul li a span {
        display: none;
    }
    .shopping-cart a::after {
        content: "20";
        position: absolute;
        top: -11px;
        right: -6px;
        color: #000;
        font-size: 10px;
        font-weight: 700;
    }
    .cart-ul li:not(:first-child)::before {
        height: 45px;
    }
    .single-service {
        margin-bottom: 35px;
    }
    .service-wrap {
        padding: 45px;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }
    .banner-slider-pagination {
        display: none;
    }
    .banner-slider {
        width: 100%;
    }
    
    .slick-dots {
        text-align: center;
        margin-top: 10px;
    }
    .slick-dots li {
        display: inline-block;
    }
    .slick-dots li button {
        width: 23px;
        height: 4px;
        background: #fff;
        font-size: 0px;
        padding: 0;
        border: 0;
        border-radius: 5px;
        margin: 0 5px;
        tranis: ;
        transition: .3s;
    }
    .slick-dots li.slick-active button {
        background: #B6160D;
    }
    .banner-slider-wrap {
        margin-bottom: 70px;
    }
    .card-outer-wrap {
        flex-direction: column;
    }
    .card-wrapper {
        margin-bottom: 18px;
    }
    
    .header-logo-part {
        justify-content: center;
    }
    .logo {
        margin-right: 0;
    }
    .linear-bar {
        height: 8px;
    }

    .mega-menu-wrap {
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 1;
        visibility: visible;
        transition: .4s;
        z-index: 5;
        top: 98%;
    }
    .mega-menu-wrap {
        border: 0;
    }
    #mobile-search-box {
        position: absolute;
        right: 0;
        width: 100%;
        height: 48px;
        background: #fff;
        z-index: 1000000000;
        border: 0;
        top: 0;
        display: none;
    }
      #mobile-search-box input {
        border: 0;
        height: 49px;
      }
      .footer-pagination {
        justify-content: center;
        margin-top: 20px;
    }
    .page-btm-middle-btn {
        text-align: center;
    }
    .tab-link {
        background: #fff;
        height: 44px;
        display: flex;
        align-items: center;
        flex: none;
        margin-right: 0px;
        justify-content: space-around;
    }
    .left-tab-content-wrap {
        display: block;
        text-align: center;
    }
    .total-product-number {
        margin: 10px 0;
    }
    .tab-link li:not(:last-child)::after {
        right: -10px;
    }
    .filter-select {
        width: 100%;
        flex: 0 0 100%;
    }
    .filter-select-wrap {
        flex-direction: column;
    }
    .filter-select .nice-select {
        width: 100%;
    }
    .filter-select-wrap .filter-select:not(:last-child) {
        margin-bottom: 24px;
    }
    .secondary-title {
        font-size: 22px;
    }
    .two-product-link {
        margin-bottom: 0px;
    }
    .history-table-content-wrapper.mt-40 {
        margin-top: 20px;
    }
    .product-table-wrapper.senam-table-wrapper {
        overflow-x: scroll;
    }
    .table.product-table.senam-table {
        min-width: 767px;
    }
    .mobile-categores-area > .container {
        padding-left: 0;
        padding-right: 0;
    }
    .categoreis-trigger {
        padding-left: 15px;
    }
    .mobile-categories {
        padding-right: 15px;
    }
      
    .tab-link-box {
        font-size: 16px;
        color: #D9261C;
        font-weight: 700;
        position: relative;
        margin-bottom: 15px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background: #fff;
        margin-bottom: 16px;
        padding: 0 15px;
    }
    .all-tb-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* left: 0; */
        right: 0;
        display: none;
        z-index: 5;
        border-top: 1px solid #D9261C;
        box-shadow: 0 0 5px #ddd;
    }
  .all-tb-links .nav-link-wrap {
    display: block;
    padding: 15px;
    margin: 0;
  }
  .all-tb-links .nav-link-wrap a {
    display: block;
    width: 100%;
  }
  .all-tb-links .nav-link-wrap a::after {
    content: none !important;
  }
  .all-tb-links .nav-link-wrap a {
    padding: 5px 0;
  }
  .product-details-wrap.mb-50 {
	margin-bottom: 0;
}

.desk-img-item {
	height: 310px;
}
.desk-active {
	min-height: 310px;
}

.specification-row.mobile-block {
    display: block;
  }
  .specification-row.mobile-block a.box-btn {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
  .specification-row.mobile-block .p-counter.style-2 {
    justify-content: flex-end;
    padding-right: 0;
  }

  .bottom-there-btns {
    display: block;
  }
  .bottom-there-btns a:not(:last-child) {
    margin-bottom: 15px;
  }
  .box-btn.fix-w {
	margin-left: auto;
	margin-right: auto;
}
.zak-column {
	max-width: 100%;
	flex: none;
	width: 100%;
}
.zak-flex-wrapper {
	display: block;
}


}
 
/* Large Mobile :480px. */
@media (min-width: 576px) and (max-width: 767.98px) {


 
}
